In [10]:
import pandas as pd

# Load the uploaded combined datasets
sp500_data_path = '../data/processed/combined_data_sp500.csv'
nasdaq_data_path = '../data/processed/combined_data_nasdaq.csv'

# Load the datasets to inspect their contents
sp500_data = pd.read_csv(sp500_data_path)
nasdaq_data = pd.read_csv(nasdaq_data_path)

# Display initial info to understand the data structure and missing values
sp500_info = sp500_data.info()
nasdaq_info = nasdaq_data.info()

# Display first few rows to examine the structure
sp500_head = sp500_data.head()
nasdaq_head = nasdaq_data.head()

(sp500_info, sp500_head, nasdaq_info, nasdaq_head)

# Convert 'Date' to datetime for both datasets
sp500_data['Date'] = pd.to_datetime(sp500_data['Date'])
nasdaq_data['Date'] = pd.to_datetime(nasdaq_data['Date'])

# Drop redundant columns if necessary (e.g., Unnamed columns)
sp500_data = sp500_data.drop(columns=['Unnamed: 0'], errors='ignore')
nasdaq_data = nasdaq_data.drop(columns=['Unnamed: 0'], errors='ignore')

# Handle missing values
def fill_missing_values(df):
    # Forward fill and backward fill for continuous data
    df = df.ffill().bfill()
    # Replace remaining NaNs with the mean
    for col in df.select_dtypes(include=['float64', 'int64']).columns:
        df[col] = df[col].fillna(df[col].mean())
    return df

# Apply the function to clean data
sp500_cleaned = fill_missing_values(sp500_data)
nasdaq_cleaned = fill_missing_values(nasdaq_data)

# Save cleaned datasets for verification and further use
sp500_cleaned_path = '../data/processed/fill_combined_data_sp500.csv'
nasdaq_cleaned_path = '../data/processed/fill_combined_data_nasdaq.csv'

sp500_cleaned.to_csv(sp500_cleaned_path, index=False)
nasdaq_cleaned.to_csv(nasdaq_cleaned_path, index=False)

sp500_cleaned_path, nasdaq_cleaned_path

print(sp500_cleaned.head())
print(nasdaq_cleaned.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8032 entries, 0 to 8031
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         8032 non-null   int64
 1   Date               8032 non-null   object
 2   Close              8032 non-null   float64
 3   High               8032 non-null   float64
 4   Low                8032 non-null   float64
 5   Open               8032 non-null   float64
 6   Volume             8032 non-null   int64
 7   Market_Label       8032 non-null   int64
 8   GDP Growth         66 non-null     float64
 9   CPI                249 non-null    float64
 10  Interest Rate      7968 non-null   float64
 11  M2 Money Supply    1329 non-null   float64
 12  PPI                249 non-null    float64
 13  Unemployment Rate  249 non-null    float64
dtypes: float64(10), int64(3), object(1)
memory usage: 878.6+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6490 entries, 0 to 6489
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         6490 non-null   int64
 1   Date               6490 non-null   object
 2   Close              6490 non-null   float64
 3   High               6490 non-null   float64
 4   Low                6490 non-null   float64
 5   Open               6490 non-null   float64
 6   Volume             6490 non-null   int64
 7   Market_Label       6490 non-null   int64
 8   GDP Growth         53 non-null     float64
 9   CPI                201 non-null    float64
 10  Interest Rate      6441 non-null   float64
 11  M2 Money Supply    1037 non-null   float64
 12  PPI                201 non-null    float64
 13  Unemployment Rate  201 non-null    float64
dtypes: float64(10), int64(3), object(1)
memory usage: 710.0+ KB
        Date      Close       High        Low       Open   Volume  \
0 1993-01-29  24.526068  24.543512  24.421405  24.543512  1003200
1 1993-02-01  24.700512  24.700512  24.543517  24.543517   480500
2 1993-02-02  24.752838  24.770282  24.630731  24.683063   201300
3 1993-02-03  25.014507  25.031951  24.770293  24.787737   529400
4 1993-02-04  25.119177  25.171508  24.822631  25.101733   531500

   Market_Label  GDP Growth       CPI  Interest Rate  M2 Money Supply  \
0             1    6808.939  3.246753           6.39           3414.9
1             1    6808.939  3.246753           6.38           3414.9
2             1    6808.939  3.246753           6.46           3414.9
3             1    6808.939  3.246753           6.45           3414.9
4             1    6808.939  3.246753           6.39           3414.9

        PPI  Unemployment Rate
0  2.068966                7.1
1  2.068966                7.1
2  2.068966                7.1
3  2.068966                7.1
4  2.068966                7.1
        Date      Close       High        Low       Open   Volume  \
0 1999-03-10  43.417267  43.496980  42.752988  43.470409  5232000
1 1999-03-11  43.629845  43.988555  42.779568  43.736129  9688600
2 1999-03-12  42.567024  43.497015  42.221599  43.470444  8743600
3 1999-03-15  43.789268  43.842411  42.434139  42.885849  6369000
4 1999-03-16  44.161278  44.347276  43.496999  43.975280  4905800

   Market_Label  GDP Growth       CPI  Interest Rate  M2 Money Supply  \
0             1     9526.21  2.281134           5.20           4427.7
1             1     9526.21  2.281134           5.21           4427.7
2             1     9526.21  2.281134           5.16           4427.7
3             1     9526.21  2.281134           5.15           4427.7
4             1     9526.21  2.281134           5.11           4427.7

        PPI  Unemployment Rate
0 -1.040833                4.3
1 -1.040833                4.3
2 -1.040833                4.3
3 -1.040833                4.3
4 -1.040833                4.3