In [8]:
import pandas as pd

# Load the uploaded combined datasets
sp500_data_path = '../data/processed/fill_combined_data_sp500.csv'
nasdaq_data_path = '../data/processed/fill_combined_data_nasdaq.csv'

# Load the datasets to inspect their contents
sp500_data = pd.read_csv(sp500_data_path)
nasdaq_data = pd.read_csv(nasdaq_data_path)

# Display initial info to understand the data structure and missing values
sp500_info = sp500_data.info()
nasdaq_info = nasdaq_data.info()

# Display first few rows to examine the structure
sp500_head = sp500_data.head()
nasdaq_head = nasdaq_data.head()

(sp500_info, sp500_head, nasdaq_info, nasdaq_head)

from sklearn.preprocessing import MinMaxScaler

# Function to scale data using MinMaxScaler
def minmax_scale_data(df, exclude_columns):
    scaler = MinMaxScaler()
    
    # Separate columns to exclude from scaling (e.g., Date, Market_Label)
    scaled_data = df.copy()
    cols_to_scale = [col for col in df.columns if col not in exclude_columns]
    
    # Apply MinMaxScaler to numerical columns
    scaled_data[cols_to_scale] = scaler.fit_transform(df[cols_to_scale])
    return scaled_data

# Exclude 'Date' and 'Market_Label' from scaling
exclude_columns = ['Date', 'Market_Label', 'Close', 'Open', 'High', 'Low', 'Volume']

# Apply MinMax Scaling to the datasets
sp500_minmax_scaled = minmax_scale_data(sp500_data, exclude_columns)
nasdaq_minmax_scaled = minmax_scale_data(nasdaq_data, exclude_columns)

# Save the MinMax scaled datasets
sp500_minmax_scaled_path = '../data/min_max_scaling/minmax_scaled_combined_data_sp500.csv'
nasdaq_minmax_scaled_path = '../data/min_max_scaling/minmax_scaled_combined_data_nasdaq.csv'

sp500_minmax_scaled.to_csv(sp500_minmax_scaled_path, index=False)
nasdaq_minmax_scaled.to_csv(nasdaq_minmax_scaled_path, index=False)

sp500_minmax_scaled_path, nasdaq_minmax_scaled_path

print(sp500_minmax_scaled.head())
print(nasdaq_minmax_scaled.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8032 entries, 0 to 8031
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Date               8032 non-null   object
 1   Close              8032 non-null   float64
 2   High               8032 non-null   float64
 3   Low                8032 non-null   float64
 4   Open               8032 non-null   float64
 5   Volume             8032 non-null   int64
 6   Market_Label       8032 non-null   int64
 7   GDP Growth         8032 non-null   float64
 8   CPI                8032 non-null   float64
 9   Interest Rate      8032 non-null   float64
 10  M2 Money Supply    8032 non-null   float64
 11  PPI                8032 non-null   float64
 12  Unemployment Rate  8032 non-null   float64
dtypes: float64(10), int64(2), object(1)
memory usage: 815.9+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6490 entries, 0 to 6489
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Date               6490 non-null   object
 1   Close              6490 non-null   float64
 2   High               6490 non-null   float64
 3   Low                6490 non-null   float64
 4   Open               6490 non-null   float64
 5   Volume             6490 non-null   int64
 6   Market_Label       6490 non-null   int64
 7   GDP Growth         6490 non-null   float64
 8   CPI                6490 non-null   float64
 9   Interest Rate      6490 non-null   float64
 10  M2 Money Supply    6490 non-null   float64
 11  PPI                6490 non-null   float64
 12  Unemployment Rate  6490 non-null   float64
dtypes: float64(10), int64(2), object(1)
memory usage: 659.3+ KB
         Date      Close       High        Low       Open   Volume  \
0  1993-01-29  24.526073  24.543517  24.421410  24.543517  1003200
1  1993-02-01  24.700510  24.700510  24.543515  24.543515   480500
2  1993-02-02  24.752853  24.770297  24.630746  24.683078   201300
3  1993-02-03  25.014505  25.031949  24.770291  24.787735   529400
4  1993-02-04  25.119164  25.171495  24.822618  25.101720   531500

   Market_Label  GDP Growth       CPI  Interest Rate  M2 Money Supply  \
0             1    0.540782  0.475454       0.779548         0.031533
1             1    0.540782  0.475454       0.778220         0.031533
2             1    0.540782  0.475454       0.788845         0.031533
3             1    0.540782  0.475454       0.787517         0.031533
4             1    0.540782  0.475454       0.779548         0.031533

        PPI  Unemployment Rate
0  0.467866           0.318584
1  0.467866           0.318584
2  0.467866           0.318584
3  0.467866           0.318584
4  0.467866           0.318584
         Date      Close       High        Low       Open   Volume  \
0  1999-03-10  43.417278  43.496992  42.752999  43.470421  5232000
1  1999-03-11  43.629845  43.988555  42.779568  43.736129  9688600
2  1999-03-12  42.567005  43.496996  42.221580  43.470425  8743600
3  1999-03-15  43.789280  43.842422  42.434151  42.885860  6369000
4  1999-03-16  44.161274  44.347272  43.496995  43.975276  4905800

   Market_Label  GDP Growth       CPI  Interest Rate  M2 Money Supply  \
0             1    0.741933  0.387258       0.746411         0.129888
1             1    0.741933  0.387258       0.748006         0.129888
2             1    0.741933  0.387258       0.740032         0.129888
3             1    0.741933  0.387258       0.738437         0.129888
4             1    0.741933  0.387258       0.732057         0.129888

        PPI  Unemployment Rate
0  0.387603           0.070796
1  0.387603           0.070796
2  0.387603           0.070796
3  0.387603           0.070796
4  0.387603           0.070796